/MiA/target/
*~
/MiA/.classpath
/MiA/.project
/MiA/.settings/org.eclipse.jdt.core.prefs
/MiA/.settings/org.maven.ide.eclipse.prefs
/MiA/appledata/.apples.crc
/MiA/appledata/apples
/MiA/output/clusteredPoints/.part-m-00000.crc
/MiA/output/clusteredPoints/part-m-00000
/MiA/output/clusters-1/.part-r-00000.crc
/MiA/output/clusters-1/part-r-00000
/MiA/output/clusters-2/.part-r-00000.crc
/MiA/output/clusters-2/part-r-00000
/MiA/output/clusters-3/.part-r-00000.crc
/MiA/output/clusters-3/part-r-00000
/MiA/testdata/clusters/.part-00000.crc
/MiA/testdata/clusters/part-00000
/MiA/testdata/points/.file1.crc
/MiA/testdata/points/file1
