/target/
*~
/.classpath
/.idea
/mia.iml
/.project
/.settings/
/appledata/
/output/
/testdata/
/src/main/resources/gender.dat
/src/main/resources/ratings.dat
20news-bydate-test/
20news-bydate-train/
/twitter_seqfiles/
/tweets.txt

/.settings/org.eclipse.core.resources.prefs
