/target/
*~
/.classpath
/.project
/.settings/org.eclipse.jdt.core.prefs
/.settings/org.maven.ide.eclipse.prefs
/appledata/.apples.crc
/appledata/apples
/output/clusteredPoints/.part-m-00000.crc
/output/clusteredPoints/part-m-00000
/output/clusters-1/.part-r-00000.crc
/output/clusters-1/part-r-00000
/output/clusters-2/.part-r-00000.crc
/output/clusters-2/part-r-00000
/output/clusters-3/.part-r-00000.crc
/output/clusters-3/part-r-00000
/testdata/clusters/.part-00000.crc
/testdata/clusters/part-00000
/testdata/points/.file1.crc
/testdata/points/file1
/src/main/resources/gender.dat
/src/main/resources/ratings.dat
20news-bydate-test/
20news-bydate-train/
